In [ ]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers 
#  if both numbers are even, but returns the greater if one or both numbers are odd
# lesser_of_two_evens(2,4) --> 2
# lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_Evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
     
    elif a%2!=0 or b%2!=0:
        return max(a,b)

In [ ]:
lesser_of_two_Evens(40,5)

In [ ]:
# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def two_word_string(a):
        a=a.split()
        if a[0][0]==a[1][0]:
            return True
        else:
            return False

In [ ]:
two_word_string("swetanshu sandey")

In [ ]:
# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20.
#  If not, return False
# makes_twenty(20,10) --> True
# makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(a,b):
    if a==20 or b==20 or a+b==20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

In [ ]:
makes_twenty(1,2)

In [ ]:
# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
# old_macdonald('macdonald') --> MacDonald
# Note: 'macdonald'.capitalize() returns 'Macdonald'

In [ ]:
def old_macdonald(name):
    if len(name) >3:
        return a[:1].capitalize() + a[1:3]+a[3:].capitalize()

In [ ]:
old_macdonald("swetanshu")

In [ ]:
#  MASTER YODA: Given a sentence, return a sentence with the words reversed
#  master_yoda('I am home') --> 'home am I'
#  master_yoda('We are ready') --> 'ready are We'

In [44]:
def master_yoda(a):
        a=a.split()
        a=' '.join(a[::-1])
        return a

In [45]:
master_yoda("I am swetanshu pandey")

'pandey swetanshu am I'

In [46]:
# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
# almost_there(90) --> True
# almost_there(104) --> True
# almost_there(150) --> False
# almost_there(209) --> True

In [48]:
def almost_there(n):
    if 90<=n<=110:
        return True
    elif 190<=n<=210:
        return True
    else:
        return False

In [50]:
almost_there(298)

False

In [51]:
almost_there(188)

False

In [52]:
# LEVEL 2 PROBLEMS
#  FIND 33:
#  Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
#  has_33([1, 3, 3]) → True
#  has_33([1, 3, 1, 3]) → False
#  has_33([3, 1, 3]) → False

In [116]:
def has_33(l):
    for i in range(len(l)-1):
        if l[i:i+2]==[3,3]:
            print(True)
    return False

In [117]:
has_33([1,3,3])

True

False

In [118]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [138]:
def paper_doll(s):
    x=''
    for i in range(len(s)):
         x=x+s[i]*3
    return x

In [139]:
paper_doll("swetanshu")

'ssswwweeetttaaannnssshhhuuu'

In [140]:
#  BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, 
#  return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#   Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
#   blackjack(5,6,7) --> 18
#   blackjack(9,9,9) --> 'BUST'
#   blackjack(9,9,11) --> 19

In [141]:
def blackjack(a,b,c):
    if a+b+c==21 or a+b+c<21:
        return a+b+c
    elif a+b+c>21 and (a==11 or b==11 or c==11):
        return a+b+c-10
    elif a+b+c>21:
        return "BUST"

In [144]:
blackjack(1,50,12)

'BUST'

In [146]:
# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
#  and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(l):
    s=0
    for i in l:
        if i<6:
            s=s+i
        elif i>9:
            s=s+i
    return s

In [2]:
summer_69([1,2,3,6,7,8,9])

6

In [4]:
summer_69([2, 1, 6, 9, 11])

14

In [8]:
# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
#  spy_game([1,2,4,0,0,7,5]) --> True
#  spy_game([1,0,2,4,0,5,7]) --> True
#  spy_game([1,7,2,0,4,5,0]) --> False

In [55]:
def spy_game(l):
    for i in range(len(l)-2):
        if l[i]==0 and l[i+1]==0 and l[i+2]==7:
            return True 
        elif l[i]==0 or l[i:]==0 or l[i:]==7:
            return True
        elif l[i]==7 or l[i:]==0 or l[i:]==0:
            return False

In [57]:
spy_game([1,2,4,0,0,7,5])

True

In [58]:
spy_game([1,0,2,4,0,5,7])

True

In [61]:
spy_game([1,7,2,0,4,5,0])

False

In [31]:
# COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
#  count_primes(100) --> 25

In [2]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [3]:
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25