# https://www.python-course.eu/python3_re.php

In [5]:
a = "Data12345 Science"
"Data" in a

True

In [6]:
a = ["Astrologer", "a", "fg","1",89,5]
for i in a:
    if type(i)==str:
        if i.isalpha():
            print(i)

Astrologer
a
fg

In [7]:
a=5
b=7
a+b

12

In [8]:
import re

re.findall(),re.search(),re.match(),re.group()

In [10]:
a= "Data Science"
print(re.search("ien",a))

<re.Match object; span=(7, 10), match='ien'>

In [11]:
a= "Data Science"
print(re.search("iend",a))

None

In [14]:
a= "Data Science is my favorite topic."
print(re.search("[A-Za-z]",a))
re.findall("[A-Za-z]",a)

<re.Match object; span=(0, 1), match='D'>

['D',
 'a',
 't',
 'a',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 'i',
 's',
 'm',
 'y',
 'f',
 'a',
 'v',
 'o',
 'r',
 'i',
 't',
 'e',
 't',
 'o',
 'p',
 'i',
 'c']

In [15]:
a = "education, falsification,ramification"
"cat" in a

True

In [19]:
print(re.search("cat ",a))

None

In [21]:
print(re.search(".at",a))

<re.Match object; span=(3, 6), match='cat'>

find all 3 letter words which contains "at" at the end position

In [30]:
a = ["cat","rat","at","asat","3at","@at","aatt"]
for i in a:
    print(re.findall(".at",i))

['cat']
['rat']
[]
['sat']
['3at']
['@at']
['aat']

In [31]:
a = ["cat","rat","at","asat","3at","@at","aatt"]
for i in a:
    print(re.findall("[A-Za-z]at",i))

['cat']
['rat']
[]
['sat']
[]
[]
['aat']

In [35]:
a = ["cat","rat","at","asat","3at","@at","aatt"]
for i in a:
    print(re.findall(r"^[A-Za-z]at",i))

['cat']
['rat']
[]
[]
[]
[]
['aat']

In [34]:
a = ["cat","rat","at","asat","3at","@at","aatt"]
for i in a:
    print(re.findall(r"^[A-Za-z]at$",i))

['cat']
['rat']
[]
[]
[]
[]
[]

In [56]:
#important

from urllib.request import urlopen

with urlopen("https://www.python-course.eu/simpsons_phone_book.txt") as f:
    for i in f:
        i = i.decode('utf-8').rstrip()
        
        if re.search(r"^J[A-Za-z]* Neu",i):
            print(i)

Jack Neu 555-7666
Jeb Neu 555-5543
Jennifer Neu 555-3652

In [62]:
# repeat * and + and {}
a = ["cat", "arat", "vrat","crat","sat","3t"]
for i in a:
    print(re.search("[a-z]*t$",i))

<re.Match object; span=(0, 3), match='cat'>
<re.Match object; span=(0, 4), match='arat'>
<re.Match object; span=(0, 4), match='vrat'>
<re.Match object; span=(0, 4), match='crat'>
<re.Match object; span=(0, 3), match='sat'>
<re.Match object; span=(1, 2), match='t'>

In [64]:
# repeat * and + and {}
a = ["cat", "arat", "vrat","crat","sat","3t"]
for i in a:
    print(re.search("[a-z]+t$",i))

<re.Match object; span=(0, 3), match='cat'>
<re.Match object; span=(0, 4), match='arat'>
<re.Match object; span=(0, 4), match='vrat'>
<re.Match object; span=(0, 4), match='crat'>
<re.Match object; span=(0, 3), match='sat'>
None

In [67]:
# repeat * and + and {}
a = ["cat", "arat", "vrat","crat","sat","3t"]
for i in a:
    print(re.search("[a-z]{2}t$",i))

<re.Match object; span=(0, 3), match='cat'>
<re.Match object; span=(1, 4), match='rat'>
<re.Match object; span=(1, 4), match='rat'>
<re.Match object; span=(1, 4), match='rat'>
<re.Match object; span=(0, 3), match='sat'>
None

In [57]:
a = "Feb 2021"
b = "February 2021"
"Febraury" in a

False

In [58]:
#?
re.search("Feb(ruary)?",a)

In [81]:
#grouping

a = "My name is Alexa.I cost 5000 Bucks only"
m = re.search("[0-9]{1,4}",a)
m.group()

'5000'

In [114]:
#grouping

a = "My name is Alexa.I cost 5010 Bucks only"
m = re.search("(A[a-z]*)(.*)(5[0-9]*)",a)
print(m.group(),m.group(0),m.group(1),m.group(2), m.group(3))
print(m.group(1),":", m.group(3))

Alexa.I cost 5010 Alexa.I cost 5010 Alexa .I cost  5010
Alexa : 5010